<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bordeaux</title>
  <meta charset="utf-8">
  <meta name="author" content="pixelhint.com">
  <meta name="description" content="Bordeaux"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="assets/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/responsive.css">

  <script type="text/javascript" src="assets/javascripts/js/jquery.js"></script>
  <script type="text/javascript" src="assets/javascripts/js/main.js"></script>
</head>
<body>
    <header>
      <div class="wrapper">
        <nav>
          <ul>
            <li><a href="#">Red</a></li>
            <li><a href="#">White</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header><!--  end header section  -->

  <section class="search">
    <div class="wrapper">

      <a href="#" class="advanced_search_icon" id="advanced_search_btn"></a>
    </div>
  <section><%= image_tag ("hero_small.jpg")%></section>

<script type="text/javascript">
var client = algoliasearch('DEBD39694U', '6db35c5c8b76f93c534b37222f3c7f96');
var index = client.initIndex('dev_WINE');
console.log('working')
index.search('2014', { hitsPerPage: 10, page: 0 })
  .then(function searchDone(content) {
    console.log(content)
    console.log('content')
  })
  .catch(function searchFailure(err) {
    console.error(err);
    console.log('error')
  });
</script>

<script type="text/javascript"> console.log("hi")</script>
  </section><!--  end search section  -->


</body>
</html>
